{% load static %}
<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-3">

            <div class="col-sm-12 header-right mt-lg-0 mt-2">
                <!-- header lists -->
                <ul>
                    <li class="text-center border-right text-white col-sm-4">
                        <a href="#" class="text-white text-capitalize">
                            <i class="fas fa-user-circle  mr-2"></i> Welcome, {{ request.session.username }} </a>
                    </li>
{#                    <li class="text-center border-right text-white">#}
{#                        <a href="admin_changepassword.php" class="text-white">#}
{#                            <i class="fas fa-lock-open mr-2"></i> Change Password </a>#}
{#                    </li>#}
                    <li class="text-center border-right text-white">
                        <a href="logout" class="text-white">
                            <i class="fas fa-power-off mr-2"></i> Log Out </a>
                    </li>
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>
<script>
    $("#selector").autocomplete({

        source: function (request, response) {


            $.ajax({
                url: "my_server_side_resource.php",
                type: "GET",
                data: request,
                success: function (data) {
                    response($.map(data, function (el) {
                        return {
                            label: el.color,
                            value: el.value
                        };
                    }));
                }
            });
        },
        select: function (event, ui) {
            // Prevent value from being put in the input:
            this.value = ui.item.label;
            // Set the next input's value to the "value" of the item.
            $(this).next("input").val(ui.item.value);
            event.preventDefault();
        }
    });
</script>

<!-- header-bottom-->
<div class="header-bot">
    <div class="container">
        <div class="row header-bot_inner_wthreeinfo_header_mid">
            <!-- logo -->
            <div class="col-md-3 logo_agile">
                <h1 class="text-center mt-2">
                    <a href="shopperhomepage" class="font-weight-bold font-italic">
                        <i class="fa fa-shopping-cart"></i>Flipcart
                    </a>
                </h1>
            </div>
            <!-- //logo -->
            <!-- header-bot -->
            <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                <div class="row">
                    <div class="navbar-inner">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <div class="agileits-navi_search">
                                </div>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto text-center mr-xl-5">
                                        <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                                            <a class="nav-link" href="dashboard">Home
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                Admin
                                            </a>
                                            <div class="dropdown-menu">
                                                <div class="agile_inner_drop_nav_info p-4">
                                                    <div class="row">
                                                        <div class="col-sm-6 multi-gd-img">
                                                            <ul class="multi-column-dropdown">
                                                                <li>
                                                                    <a href="addadmin">Add Admin</a>
                                                                </li>
                                                                <li>
                                                                    <a href="viewadmin">View Admin</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                Category
                                            </a>
                                            <div class="dropdown-menu">
                                                <div class="agile_inner_drop_nav_info p-4">
                                                    <div class="row">
                                                        <div class="col-sm-6 multi-gd-img">
                                                            <ul class="multi-column-dropdown">
                                                                <li>
                                                                    <a href="addcategory">Add Category</a>
                                                                </li>
                                                                <li>
                                                                    <a href="viewcategory">View Category</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
{#                                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">#}
{#                                            <a class="nav-link dropdown-toggle" href="#" role="button"#}
{#                                               data-toggle="dropdown"#}
{#                                               aria-haspopup="true" aria-expanded="false">#}
{#                                                Sub Category#}
{#                                            </a>#}
{#                                            <div class="dropdown-menu">#}
{#                                                <div class="agile_inner_drop_nav_info p-4">#}
{#                                                    <div class="row">#}
{#                                                        <div class="col-sm-6 multi-gd-img">#}
{#                                                            <ul class="multi-column-dropdown">#}
{#                                                                <li>#}
{#                                                                    <a href="addsubcategory.php">Add Sub Category</a>#}
{#                                                                </li>#}
{#                                                                <li>#}
{#                                                                    <a href="showsubcategory.php">View Sub Category</a>#}
{#                                                                </li>#}
{#                                                            </ul>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
                                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                               data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                Products
                                            </a>
                                            <div class="dropdown-menu">
                                                <div class="agile_inner_drop_nav_info p-4">
                                                    <div class="row">
                                                        <div class="col-sm-6 multi-gd-img">
                                                            <ul class="multi-column-dropdown">
                                                                <li>
                                                                    <a href="addproduct">Add Products</a>
                                                                </li>
                                                                <li>
                                                                    <a href="viewproduct">View Products</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
{#                                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">#}
{#                                            <a class="nav-link dropdown-toggle" href="#" role="button"#}
{#                                               data-toggle="dropdown"#}
{#                                               aria-haspopup="true" aria-expanded="false">#}
{#                                                Orders#}
{#                                            </a>#}
{#                                            <div class="dropdown-menu">#}
{#                                                <div class="agile_inner_drop_nav_info p-4">#}
{#                                                    <div class="row">#}
{#                                                        <div class="col-sm-6 multi-gd-img">#}
{#                                                            <ul class="multi-column-dropdown">#}
{#                                                                <li>#}
{#                                                                    <a href="vieworder.php">Status Wise</a>#}
{#                                                                </li>#}
{#                                                                <li>#}
{#                                                                    <a href="vieworderdatewise.php">Date Wise</a>#}
{#                                                                </li>#}
{#                                                            </ul>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
                                        <!--                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">-->
                                        <!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"-->
                                        <!--                           aria-haspopup="true" aria-expanded="false">-->
                                        <!--                            Appliances-->
                                        <!--                        </a>-->
                                        <!--                        <div class="dropdown-menu">-->
                                        <!--                            <div class="agile_inner_drop_nav_info p-4">-->
                                        <!--                                <h5 class="mb-3">TV, Appliances, Electronics</h5>-->
                                        <!--                                <div class="row">-->
                                        <!--                                    <div class="col-sm-6 multi-gd-img">-->
                                        <!--                                        <ul class="multi-column-dropdown">-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Televisions</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Home Entertainment Systems</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Headphones</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Speakers</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">MP3, Media Players & Accessories</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Audio & Video Accessories</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Cameras</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">DSLR Cameras</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Camera Accessories</a>-->
                                        <!--                                            </li>-->
                                        <!--                                        </ul>-->
                                        <!--                                    </div>-->
                                        <!--                                    <div class="col-sm-6 multi-gd-img">-->
                                        <!--                                        <ul class="multi-column-dropdown">-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Musical Instruments</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Gaming Consoles</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">All Electronics</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Air Conditioners</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Refrigerators</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Washing Machines</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Kitchen & Home Appliances</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">Heating & Cooling Appliances</a>-->
                                        <!--                                            </li>-->
                                        <!--                                            <li>-->
                                        <!--                                                <a href="product2.html">All Appliances</a>-->
                                        <!--                                            </li>-->
                                        <!--                                        </ul>-->
                                        <!--                                    </div>-->
                                        <!--                                </div>-->
                                        <!--                            </div>-->
                                        <!--                        </div>-->
                                        <!--                    </li>-->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <!-- search -->
                    <!-- //search -->
                    <!-- cart details -->
                    <!-- //cart details -->
                </div>
            </div>
        </div>
    </div>
</div>

{##}
{#<div>#}
{#    <a href="dashboard">Home</a>#}
{#    <a href="addcategory">Add Category</a>#}
{#    <a href="viewcategory">View Category</a>#}
{#    <a href="addadmin">Add Admin</a>#}
{#    <a href="addproduct">Add Product</a>#}
{#    <a href="viewproduct">View Products</a>#}
{#    <a href="logout">Logout</a>#}
{#</div>#}