{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<!-- //Meta tag Keywords -->
<link rel="stylesheet" href="/static/asset/fontawesome-free-5.11.2-web/css/all.css">
<link rel="stylesheet" href="/static/asset/mycss/mycss.css">
<!-- Custom-Files -->
<link href="/static/asset/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Bootstrap css -->
<link href="/static/asset/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Main css -->
<link rel="stylesheet" href="/static/asset/css/fontawesome-all.css">
<!-- Font-Awesome-Icons-CSS -->
<link href="/static/asset/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<!-- pop-up-box -->
<link href="/static/asset/css/menu.css" rel="stylesheet" type="text/css" media="all"/>
<!-- menu style -->
<!-- //Custom-Files -->

<!-- web fonts -->
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
      rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
      rel="stylesheet">
<!-- //web fonts -->